@{
    ViewData["Title"] = "Delete Comment";
}

@model Comment


<div class="d-flex justify-content-center">
    <div class="card bg-black text-light " style="width: 35rem;">

        <div class="card-header">
            <h5>
                Are you sure you want to delete this comment?
                <br />
            </h5>
        </div>

        <form asp-controller="Thread" asp-action="DeleteComment" method="post">



            <div class="card-body" style="padding-bottom: 1px; margin-bottom: 0px;">

                <input type="hidden" asp-for="ThreadId" value="@Model.ThreadId" />
                <input type="hidden" asp-for="CreationDate" value="@DateTime.Now" />
                <input type="hidden" asp-for="AuthorId" value = "@Model.AuthorId" />

                <div class="mb-3">
                    <textarea asp-for="Content" class="form-control-custom" id="commentTextArea" rows="3" placeholder="Write a comment...">@Model.Content</textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>


                <p>
                    In Thread:
                    @Model.Thread.Title.ToString()
                </p>
            </div>


            <hr />

            <div class="card-footer text-end mb-3">
                <a asp-controller="Thread" asp-action="Details" asp-route-id="@Model.ThreadId" class="btn btn-custom5">Cancel</a>
                <input type="submit" value="Confirm Delete" class="btn btn-custom1" />
            </div>
        </form>
    </div>
</div>